{% include 'nav_admin.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <!-- Approach -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Balas</h6>
        </div>
        <div class="card-body">
           
            <form enctype="multipart/form-data" action="url_for('balas', id={{data[0]}})" method="POST">
                
               <div class="form-group">
                  <input type="hidden" class="form-control form-control-user"
                      id="" name="id" value="{{ data[0] }}" required>
               </div>
               <textarea class="form-control" rows="3" name="isi_balasan"></textarea>

                <div class="mt-3">
                    <button class="btn btn-primary" value="">Balas</button>
                </div>
            </form>
        </div>
    </div>

    
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script
    src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='admin/js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script
    src="{{ url_for('static', filename='admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='admin/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='admin/js/demo/datatables-demo.js') }}"></script>

</body>

</html>